<!-- cancelReservation.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Cancel a Reservation</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Cancel a Reservation</h1>
    <ul>
        
            <li>
                <p>Salle: </p>
                <p>Day: </p>
                <p>Time: </p>
                <form >
                    <button type="submit">Cancel Reservation</button>
                </form>
            </li>
       
    </ul>
</body>
</html>
