<!-- makeReservation.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Make a Reservation</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Make a Reservation</h1>
    <form >
        <div>
            <label >Salle:</label>
            <select >
                
                    <option ></option>
               
            </select>
        </div>
        <div>
            <label >Day:</label>
            <input type="date" name="day" id="day" required>
        </div>
        <div>
            <label >Start Time:</label>
            <input type="time" name="startTime" id="startTime" required>
        </div>
        <div>
            <label >End Time:</label>
            <input type="time" name="endTime" id="endTime" required>
        </div>
        <button >Submit Reservation</button>
    </form>
    
</body>
</html>
