<%# salles.ejs %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Salles</title>
</head>
<body>
    <h1>Liste des Salles</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Capacité</th>
            <th>Emplacement</th>
            <th>Disponibilité</th>
            <th>Description</th>
            <th>Jours Disponibles</th>
            <th>Heure de Début</th>
            <th>Heure de Fin</th>
            <th>Actions</th>
        </tr>
        
            <tr>
                <td>id </td>
                <td>name</td>
                <td>capacity </td>
                <td>location </td>
                <td>isAvailable 'Oui' : 'Non'</td>
                <td>description </td>
                <td>days</td>
                <td>startTime</td>
                <td>endTime</td>
                <td>
                    <a href="" title="Afficher">Afficher</a>
                    <a href="" title="Modifier">Modifier</a>
                    <form action="" method="POST" style="display:inline;">
                        <button type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
       
    </table>

    <h2>Ajouter une Nouvelle Salle</h2>
    <form action="/salle" method="POST">
        <label for="name">Nom:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="capacity">Capacité:</label><br>
        <input type="number" id="capacity" name="capacity" required><br>
        <label for="location">Emplacement:</label><br>
        <input type="text" id="location" name="location" required><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description"></textarea><br>
        <label for="days">Jours Disponibles:</label><br>
        <select id="days" name="days" multiple><br>
            <option value="Monday">Lundi</option><br>
            <option value="Tuesday">Mardi</option><br>
            <option value="Wednesday">Mercredi</option><br>
            <option value="Thursday">Jeudi</option><br>
            <option value="Friday">Vendredi</option><br>
            <option value="Saturday">Samedi</option><br>
            <option value="Sunday">Dimanche</option><br>
        </select><br>
        <label for="startTime">Heure de Début:</label><br><br>
        <input type="datetime-local" id="startTime" name="startTime" required><br><br>
        <label for="endTime">Heure de Fin:</label><br><br>
        <input type="datetime-local" id="endTime" name="endTime" required><br><br>
        <button type="submit">Ajouter Salle</button>
    </form>
</body>
</html>
