<!-- userReservations.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Your Reservations</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Your Reservations</h1>
    <ul>
       
            <li>
                <p>Salle: </p>
                <p>Day: </p>
                <p>Time: </p>
            </li>
       
    </ul>
</body>
</html>
